.review-items{
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 46, 46);
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.review-items p{
  color: chocolate;
  margin-top: 0;
  width: 100%;
  padding: 0 1em 0 1em;
}

#username-and-profile{
  display: flex;
  padding: 0 .5em 0 .3em;
  margin-top: .5em;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  box-sizing: border-box;
}

#profile-icon{
  color: white;
  justify-self: flex-start;
}

#review-delete{
  background-color: rgb(164, 25, 25);
  border-radius: 5px;
  margin-bottom: -3px;
  height: 1.75em;
  width: 1.75em;
  text-align: center;
}
