.book-card{
  background-color: darkgray;
  justify-self: center;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.book-card img{
  text-align: center;
  min-width: none;
  min-height: none;
  padding-top: 10px;
}

.book-name-author{
  list-style: none;
  padding-left: 0;
}
