.res-msg {
  background-color: white;
  color: red;
}

.user-collections{
  flex: 1;
}

#create-collection{
  color: white;
  display: flex;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:1rem;
  margin-left: 2rem;
}

#create-collection button{
  flex: 1 0 calc(33.33% - 10px);
  font-size: 100px;
  width: 17rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#create-collection button:hover{
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8)
}

.collection-card{
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33% - 20px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #14171c;
  margin-bottom: 20px;
  height: fit-content;
}

.delete-collection{
 align-self: flex-end;
 width: fit-content;
 margin-right: 2px;
 margin-top: 3px;
 border-radius: 5px;
 background-color: rgb(164, 25, 25);
 color: antiquewhite;
}

.delete-collection:hover{
  cursor: pointer;
}

#img-link{
  align-self: center;
  object-fit: contain;
  display: flex;
  height: 250px;
  width: 200px;
  margin-bottom: 1em;
  padding: 10px;
}

#img-link img{
  max-width: 100%;
  max-height: 100%;
  /* height: 5em; */
  margin-bottom: 5px;
}

#no-image-icon{
  width: 100%;
  height: 100%;
  color: black;
  margin-bottom: 5px;
}

#edit-button{
  width: fit-content;
  align-self: flex-start;
  margin-bottom: 5px;
}

.collection-info{
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
  gap: 2px;
  margin-bottom: 1em;
}

.collection-info p{
  margin: 0;
}

.user-collections h1{
  text-align: center;
}
