.book-list-page {
  display: flex;

  padding: 20px;
  align-content: center;
}

.book-list-page h1{
  color: #f2a661;
  text-align: center;
  font-weight: bold;
  justify-self: center;
  width: 7em;
  border-radius: 10px;
}

.book-list-column {
  flex: 1 1 0px;
  padding-left: 15rem;
}

.genre-selection {
  position: sticky;
  top: 20px;
  width: 200px;
  background-color: #14171c;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-list{
  position: center;
  padding-left: 0;
}

.genre-item {
  margin: 10px 0;
  padding: 10px;
  background-color: darkgrey;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  text-align: center;
}

.genre-item:hover {
  background-color: #d0d0d0;
}
