#left-arrow, #right-arrow{
  color: white;
  align-self:  center;
  font-size: 3em;
}

#left-arrow{
  padding-right: 2em;
}

#right-arrow{
  padding-left: 2em
}

#left-arrow:hover, #right-arrow:hover{
  transform: scale(1.2);
}

.landing-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color:white
}

.slides-container{
  display: flex;
  justify-content: center;
}

#slide-title{
  text-align: center;
}

.title-about-us{
  background-color: darkgray;
  width: 40em;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5px;
}

.title-about-us p{
  margin-left: 2.75em;
}

.title{
  text-align: center;
}
