.add-book{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width:6em;
  flex: 1 1 calc(25%);
  max-width: calc(33%);
}

.add-book-modal{
  min-width: fit-content;
  height: fit-content;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
}

#create-collection{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

#no-collection{
  padding: 10px
}

#create-collection button{
  margin-bottom: 20px;
  height: 1em;
  width: 1em;
}
