.add-book{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:7em;
  height: 7em;
  padding: 0 5px 5px 5px;
  flex: 1 1 calc(25%);
  background-color: darkgray;
  border-radius: 5px;
  gap: 2px;
}

.add-book p{
  overflow-y: auto;
}

.add-book button{
  width: 2em;
  height: 2em;
  font-size: large;
}

.add-book-modal{
  min-width: fit-content;
  height: fit-content;
  overflow-y: auto;
  padding: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
}

#create-collection{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

#no-collection{
  padding: 10px
}

#create-collection button{
  margin-bottom: 20px;
  height: 1em;
  width: 1em;
}
