/* TODO: Add sitewide styles */
body{
  background: linear-gradient(135deg, #0b0d10, #1e2b35, #f57c00);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
  margin: 0;
}
